@media (min-width: 640px) and (max-width: 760px) {
  .welcome-text {
    display: none !important;
  }
  .about {
    padding-left: 9% !important;
    padding-right: 9% !important;
  }
  .legal {
    text-align: left;
  }
  .legal h1 {
    font-size: 1.2rem;
    text-align: left;
  }
  .legal p {
    font-size: 1rem;
    text-align: justify;
  }
  .mission {
    text-align: left;
    padding-left: 1rem;
  }
  .mission h1 {
    font-size: 1rem;
    text-align: left;
  }

  .mission p {
    font-size: 1rem;
    text-align: justify;
  }

  .vision {
    text-align: left;
    padding-left: 1rem;
  }
  .vision h1 {
    font-size: 1rem;
    text-align: left;
  }

  .vision p {
    font-size: 1rem;
    text-align: justify;
  }

  .reputation {
    text-align: left;
    padding-left: 1rem;
  }
  .reputation h1 {
    font-size: 1rem;
    text-align: left;
  }

  .reputation p {
    font-size: 1rem;
    text-align: justify;
  }
  .commitment {
    width: 100%;
    text-align: left;
    padding: 0rem 0;
  }
  .commitment h2 {
    font-size: 1.3rem;
    text-align: left;
  }

  .commitment p {
    font-size: 1rem;
    text-align: justify;
  }

  .welcome {
    padding-left: 1rem !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 761px) and (max-width: 1200px) {
  .nav-padding-remove {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .nav-logo {
    gap: 0rem;
  }
  .nav-logo h3 {
    font-size: 1rem;
  }
  .nav-logo img {
    width: 3.5rem;
  }
  .legal {
    padding: 2.5rem 0;
  }
  .legal h1,
  .mission h1,
  .vision h1,
  .reputation h1,
  .commitment h2 {
    font-size: 1.4rem;
  }
  .legal p,
  .mission p,
  .vision p,
  .reputation p,
  .commitment p {
    font-size: 1.1rem;
    justify-content: center;
    text-align: justify;
  }
  .line {
    padding-top: 1.5rem;
  }
  .welcome-text {
    font-size: 8rem;
  }
}
