@media (min-width: 640px) and (max-width: 760px) {
  .principal-text {
    display: none !important;
  }
  .principal-container {
    padding-top: 7rem;
    padding-left: 2.5rem;
  }
  .principal-container p {
    font-size: 1rem;
  }
  .principal-container ul li {
    font-size: 1rem;
  }
  .principal-name {
    font-size: 1.4rem;
    padding-top: 2rem;
  }
  .image {
    max-width: 600px;
    max-height: 1200px;
  }
  .meeting {
    text-align: left;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    padding-left: 2rem;
  }
  .meeting h2 {
    font-size: 1.5rem;
    text-align: left;
  }
  .biography {
    margin-top: 3rem;
  }
}
@media (min-width: 761px) and (max-width: 1024px) {
  .principal-text {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .principal-text {
    font-size: 7rem;
  }
  .meeting h2 {
    font-size: 1.8rem;
  }
  .meeting p {
    text-align: justify;
  }
  .principal-name {
    font-size: 1.3rem;
  }
  .principal-container {
    padding-left: 3rem;
  }
  .biography {
    /* width: 51%; */
    padding-left: 3rem;
  }
  .biography ul li {
    font-size: 1rem;
  }
  .biography p {
    font-size: 1rem;
    text-align: justify;
  }
}
