@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Inter";
  src: url("/public//Fonts/Inter-Black.ttf") format("truetype"),
    url("/public//Fonts/Inter-Bold.ttf") format("truetype"),
    url("/public//Fonts/Inter-ExtraBold.ttf") format("truetype"),
    url("/public//Fonts/Inter-ExtraLight.ttf") format("truetype"),
    url("/public//Fonts/Inter-Light.ttf") format("truetype"),
    url("/public//Fonts/Inter-Medium.ttf") format("truetype"),
    url("/public//Fonts/Inter-Black.ttf") format("truetype"),
    url("/public//Fonts/Inter-Regular.ttf") format("truetype"),
    url("/public//Fonts/Inter-SemiBold.ttf") format("truetype"),
    url("/public//Fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
  letter-spacing: 0.02em;
  line-height: 1.6;
}
